@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@400;700&display=swap');

.about{

    width:100%;

    background:#F5F5F5;

    border-bottom:2px solid #DFB1FE;

    box-shadow: 0px 2px 10px #DFB1FE;
    ;

    padding:20px 0;
}

.about-container{

    width:850px;

    margin:auto;

    text-align:center;
}

.about h1{

    font-family:"Bangers";
    align-items:center;
    font-size:40px;

    color:#52057B;

    letter-spacing:2px;

    margin-bottom:15px;
    margin-top:10px;

    font-weight:400;
}

.about p{
    align-items:center;
    font-family:"Roboto";
    letter-spacing:0.5px;
    font-size:16px;
    margin-bottom:4px;
    font-weight:450;
    line-height:20px;
    
    color:#1E1E1E;
}