.find-store{

    width:100%;

    padding:70px 0 90px;

    background:white;
}

/*==========================
          TITLE
==========================*/

.store-title{

    width:1280px;

    max-width:90%;

    margin:0 auto 40px;

    font-family:"Bangers";

    font-size:56px;

    color:#52057B;

    letter-spacing:2px;
}
/*==========================
      PURPLE SECTION
==========================*/
.store-container{

    width:100%;

    height:500px;

    background:#52057B;

    display:flex;

    justify-content:center;

    align-items:center;
}

/*==========================
        CONTENT
==========================*/
.store-box{

    width:1280px;

    max-width:90%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:90px;
}
/*==========================
          MAP
==========================*/

.map{

    width:680px;

    height:380px;

    border-radius:7px;

    overflow:hidden;

    box-shadow:0 12px 28px rgba(0,0,0,.25);

    flex-shrink:0;
}

.map iframe{

    width:100%;

    height:100%;

    border:none;
}

/*==========================
      STORE DETAILS
==========================*/

.store-info{

    flex:1;

    display:flex;

    flex-direction:column;

    justify-content:center;
}

.store-info h1{

    font-size:60px;

    line-height:1.1;

    margin-bottom:55px;
     color:#FFFFFF;
}

/*==========================
          INFO
==========================*/

.info{

    display:flex;

    align-items:center;

    gap:20px;

    margin-bottom:38px;

    transition:.3s ease;
}

.info svg{

    font-size:30px;

    color:white;

    transition:.3s ease;
}

.info p{

    font-family:"Roboto";

    font-size:20px;

    font-weight:400;

    color:white;
}

/*==========================
          HOVER
==========================*/

.info:hover{

    transform:translateX(8px);
}

.info:hover svg{

    color:#DFB1FE;
}

/*==========================
      RESPONSIVE
==========================*/

@media(max-width:1300px){

.store-box{

    width:95%;
}

}

@media(max-width:1050px){

.store-box{

    flex-direction:column;

    align-items:center;

    text-align:center;
}

.map{

    width:100%;

    height:450px;
}

.store-info{

    width:100%;
}

.store-info h1{

    font-size:48px;

    margin-bottom:45px;
}

.info{

    justify-content:center;
}

}

@media(max-width:768px){

.store-title{

    margin-left:30px;

    font-size:44px;
}

.map{

    height:350px;
}

.store-info h1{

    font-size:38px;
}

.info svg{

    font-size:26px;
}

.info p{

    font-size:18px;
}

}